// Place all the styles related to the solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container{
	background: #f1f1f1;
	margin-top:60px;
	min-height:600px;
	padding:15px;
}
.main-header{
	text-align: center;
}